
  <p>
    <strong>Name:</strong>
    <%= @restaurant.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @restaurant.address %>
  </p>

  <p>
    <strong>Phone Number:</strong>
    <%= @restaurant.phone_number %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @restaurant.category %>
  </p>


  <p>
    <strong>Review:</strong>
    <% @restaurant.reviews.each do |review| %>
    <p>  <%= review.content %> </p>
      <% end %>
  </p>

<p>
    <strong>Rating:</strong>
    <%= @restaurant.ratings.each do |rating| %>
     <p>  <%= review.content %> </p>
     <% end %>
  </p>

  <%= link_to "See details", restaurant_path(@restaurant), class: "btn btn-primary"%>

</div>
